
.jumbotron{
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210924/pngtree-computer-light-effect-technology-theme-creative-black-business-background-image_906517.png');
    background-size:contain;
    background-color: #bfbfbf;
    color: white;
}
.row{
    margin: 2rem 0 2rem 0;
}
.col{
    padding: 0;
}
.card-img{
    width: 100%;
    max-height: 14rem;
    border: 1px solid black;
}
.card-img img{
    width: 100%;
    height: auto;
}
.button{
    border: 1px solid black;
    text-align: center;
}
.footer{
    background-color: rgb(52, 58, 64);
    color: white;
    text-align: center;
    max-height: 30px;
}